div {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

canvas{
    margin: 100px auto;
    border: black 1px solid;
    background-color: black;
}
